body {
    background-image: url(./../src/images/background2.jpg);
    width: 100vw;
    height: 100vh;
}

.ligne1 {
    width: 100%;
    height: 50%;
    display: flex;
    margin-left: 120px;
}   

.ligne2 {
    width: 100%;
    height: 50%;
    display: flex;
    margin-left: 120px;
}


.flip-card1 {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front1 {
    background-image: url(./../src/images/YGO-Back-KOR.png);
    background-repeat: no-repeat;
}
  

.flip-card-back1 {
    background-image: url(./../src/images/kuriboh.jpg);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.flip-card2 {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front2 {
    background-image: url(./../src/images/YGO-Back-KOR.png);
    background-repeat: no-repeat;
}
  

.flip-card-back2 {
    background-image: url(./../src/images/dargonNoir.jpg);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card3 {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front3 {
    background-image: url(./../src/images/YGO-Back-KOR.png);
    background-repeat: no-repeat;
}
  

.flip-card-back3 {
    background-image: url(./../src/images/dragonBlanc.jpg);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.flip-card-inner3 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card4 {
    background-color: transparent;
    width: 300px;
    height: 300px;
}

.flip-card-inner4 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* .flip-card4:hover .flip-card-inner4 {
    transform: rotateY(180deg);
} */

.flip-card-front4, .flip-card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front4 {
    background-image: url(./../src/images/YGO-Back-KOR.png);
    background-repeat: no-repeat;
}
  

.flip-card-back4 {
    background-image: url(./../src/images/skull.jpg);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.retourner {
    transform: rotateY(180deg);
}